<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li> <a class="nav-link" routerLink="/chat">チャット</a></li>
        <li><a class="nav-link" routerLink="/add">ユーザー追加</a></li>
        <li><a class="nav-link" routerLink="/user">ユーザー一覧</a></li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 float-right" (click)="logOut()">ログアウト</button>
      </ul>
    </div>
  </nav>
<div class="container">
    <h1>チャットチャンネル</h1>
    <h3>ユーザー名: {{username}}</h3>
    <div class="float-container">

        <div class="float-child">
            <label for="newroom" *ngIf="!isinRoom" >ルーム</label>
            <br>
            <select [(ngModel)] = "roomslist" *ngIf="!isinRoom" name="roomslist">
                <option [ngValue]="null">ルーム選択</option>
                <option *ngFor="let room of rooms">
                    {{room.roomname}}
                </option>
            </select>
            <div class="form-group">
                <button *ngIf="!isinRoom" (click)="joinroom()" class="btn btn-primary">参加</button> &nbsp;
            </div>
        </div>
        
        <div class="float-child">
            <form>
                <label for="newroom" *ngIf="isadmin">ルーム作成</label>
                <input type="text" [(ngModel)]="newroom" *ngIf="isadmin" name="newroom" id="newroom" class="form-control"/>
                <button (click)="createroom()" class="btn btn-primary" *ngIf="isadmin">新しいルームを作成</button>
            </form>
        </div>
        
    </div>
    <h2 *ngIf="isinRoom">{{currentroom}}のメッセージ</h2>
    <button *ngIf="isinRoom" (click)="leaveroom()" class="btn btn-primary">退室</button> &nbsp;
    <p>{{roomnotice}}</p>
    <form>
        <div class="form-group rooms" *ngIf="isinRoom">
            <label for="messagecontent">画像</label>
            <input type="file" ngModel="imagecontent" name="imagecontent" id="imagecontent" class="form-control">
            <br>
            <label for="messagecontent">新しいメッセージ</label>
            <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control"/>
            <button *ngIf="isinRoom" (click)="chat()" class="btn btn-primary" name="createroom" id="createroom">Chat</button> &nbsp;
        </div>
    </form>
    <br>
    <ul>
        <li *ngFor="let message of messages">{{message}}</li>
        <li *ngFor="let image of images"><img src="{{image}}"></li>
    </ul>
</div>

<!--<li *ngFor= "let  m of messages">{{m}}</li>-->