.bg{
  background-image: url("image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textbox{
    width: 200px;
}

.container{
    text-align: center;
}


h1 span{
    background-color: white;
}

h2 span{
    background-color: white;
}

label span{
    background-color: white;
}

.input{
    margin: auto;
}

