<div class="container">
  <h1>ChatChannel</h1>
  <h2>Login</h2>
  <form (submit)="Login($event)">
    <div class="form-group">
      <label for="productname">Username</label>
      <input type="text" class="form-control" id="productname" [(ngModel)] = "username" name="username">
    </div>
    <div class="form-group">
      <label for="productname">Password</label>
      <input type="text" class="form-control" id="productdesc" [(ngModel)] = "pwd" name="password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login<i class="fa fa-plus-square"></i></button>
    </div>
  </form>
</div>
