<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li> <a class="nav-link" routerLink="/chat">チャット</a></li>
        <li><a class="nav-link" routerLink="/add">ユーザー追加</a></li>
        <li><a class="nav-link" routerLink="/user">ユーザー一覧</a></li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 float-right" (click)="logOut()">ログアウト</button>
      </ul>
    </div>
  </nav>

<div class="container">
    <h1>ユーザー一覧</h1>
    <table class="table">
        <tr>
            <th>ユーザー名</th>
            <th>Eメール</th>
            <th>Userrole</th>
        </tr>
        <tr style="padding-top: 20px;" *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.userrole}}</td>
            <td><button type="button" class="btn btn-primary btn-block mb-4 buttonsetting" [routerLink]="['/update', user.userid]">変更</button></td>
            <td><button type="button" class="btn btn-primary btn-block mb-4 buttonsetting" (click)="deleteproduct(user.userid)">{{user.username}}を削除</button></td>
        </tr>
    </table>
</div>

