<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li> <a class="nav-link" routerLink="/chat">チャット</a></li>
      <li><a class="nav-link" routerLink="/add">ユーザー追加</a></li>
      <li><a class="nav-link" routerLink="/user">ユーザー一覧</a></li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <button type="button" class="btn btn-outline-success my-2 my-sm-0 float-right" (click)="logOut()">ログアウト</button>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>ユーザーを追加</h1>
    <form (submit)="addnewUser($event)">
      <div class="form-group">
        <label for="productname">ユーザー名</label>
        <input type="text" class="form-control" id="productname" [(ngModel)] = "username" name="username">
      </div>
      <div class="form-group">
        <label for="productname">Eメール</label>
        <input type="text" class="form-control" id="productdesc" [(ngModel)] = "email" name="email">
      </div>
      <div class="form-group">
        <label for="productid">ユーザーID</label>
        <input type="text" class="form-control" id="productid" [(ngModel)] = "userid" name="userid" placeholder="ID">
        <!--<div [@iderrorState]="stateName" class="alert alert-warning" id="iderrormsg" role="alert">{{iderrormsg}}</div> -->
      </div>
      <div class="form-group">
        <label for="productname">パスワード</label>
        <input type="text" class="form-control" id="productunits" [(ngModel)] = "password" name="password">
      </div>
      <div class="form-group">
        <label for="productname">User Role</label>
        <input type="text" class="form-control" id="productprice" [(ngModel)] = "userrole" name="userrole">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus-square">ユーザーを作成</i></button>
      </div>
      <div [@noticeState]="noticeName" class="alert alert-warning" role="alert">{{newProductMessage}}</div>
    </form>
  </div>
  
